<div class="container">
    <form autocomplete="off">
      <div class="ui-g-11">
        <div id="main-content">
          <div class="box div-login" style="margin-bottom:0!important; /*display:none;*/">
            <div class="box-title">
              <h3>
                <i class="ti ti-help-alt"></i>
                <span>Suporte</span>
              </h3>
            </div>

            <div class="box-content">
              <div class="col-md-12">

                <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="ui-g-12 ui-md-6 ui-fluid">
                        <input type="text" placeholder="nome" name="nome"  class="form-control show-tooltip required" >
                      </div>
                      <div class="ui-g-12 ui-md-6 ui-fluid">
                          <input type="text" placeholder="email" name="email"  class="form-control show-tooltip required" >
                        </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="ui-g-12 ui-md-6 ui-fluid">
                        <input type="text"  placeholder="Telefone + DDD" name="telefone" class="form-control show-tooltip required" >
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-fluid">
                        <input type="text" placeholder="Empresa" name="empresa"  class="form-control show-tooltip required" >
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="ui-g-12 ui-md-12 ui-fluid">
                        <input type="text" placeholder="Selecione um motivo" name="motivo"  class="form-control show-tooltip required" >
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="ui-g-12 ui-md-12 ui-fluid">
                      <textarea  pInputText cols="40" rows="5" name="mensagem" maxlength="1000" size="1000"  placeholder="MENSAGEM" aria-invalid="false" class="form-control show-tooltip required"></textarea>
                    </div>
                </div>
                <br>
              </div>
              <div class="ui-g-12 text-center" style="margin-top: 10px">

                      <button type="submit" class="btn btn-outline-warning" pButton icon="fa fa-phone" label="LIGA PRA MIM!" style="border-color:#d8af04!important;  background:#d8af04!important;  border-radius: 19px;" ></button>

              </div>
            </div>
          </div>
          <div class="rodape">

            </div>
        </div>


  </div>
  </form>
  </div>
