<div class="container" >
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row">
        <p-dialog  [(visible)]="displayDialog" [closable]="false" icon="fa fa-question-circle" #confirmacao>
            <p-header>
                Informe a quantidade de títulos e o valor total a cobrar!
            </p-header>
            <div class="ui-g-12 ui-md-6 ui-fluid">
                <label>QUANTIDADE</label>
                <input  pInputText type="number"  pattern="[0-9]+$" name="quantidade" maxlength="30" size="30"
                  [(ngModel)]="quantidade" />
            </div>
            <div class="ui-g-12 ui-md-6  ui-fluid">
                <label>SALDO TOTAL A COBRAR <font color="red">*</font></label>
                <input pInputText type="text"  maxlength="12" size="12" name="saldoACobrar" placeholder="0,00"  [(ngModel)]="saldoACobrar"
                currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"/>

            </div>
          <p-footer>
            <a type="text" (click)="showDialogToAccept()" pButton icon="fa fa-check" label="Confirmar"  style="cursor:pointer; border: 1px solid #d8af04!important; background:#d8af04!important;" ></a>
            <a type="text" (click)="showDialogToReject()" pButton icon="fa fa-times" label="Cancelar"  style="cursor:pointer; border: 1px solid #d8af04!important; background:#d8af04!important;" ></a>
          </p-footer>
        </p-dialog>
    </div>
    <div class="row">
        <div class="ui-g-11">
            <div class="col-md-6">
                <div class="row pricing-table">
                    <div class="card pt-item">
                        <div class="pti-header bgm-green">
                            <h2>Download <small>| XLSx</small></h2>
                            <div class="ptih-title">Modelo para Importação</div>
                        </div>

                        <div class="pti-body">
                            <div class="ptib-item">
                                Faça o donwload do modelo em excel para importação.
                            </div>
                        </div>

                        <div class="pti-footer">
                            <a pButton (click)="download()" class="bgm-green"><i class="fa fa-download"></i></a>
                        </div>
                    </div>
                  </div>
            </div>
        <div class="col-md-5">
            <div class="row pricing-table">
            <div class="card pt-item">
                <div class="pti-header bgm-amber">
                    <h2>Upload <small>| XLSx</small></h2>
                    <div class="ptih-title">Importe seus títulos</div>
                </div>

                <div class="pti-body">
                    <div class="ptib-item">
                        Importe o modelo devidamente preenchido com os títulos que serão cobrados.
                    </div>
                </div>

                <div class="pti-footer">
                    <input type="file" #fileInput style="display: none;"  (change)="setCurrentUpload($event.target.files)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">
                    <a pButton (click)="openFileUpload()" class="bgm-amber"><i class="fa fa-upload"></i></a>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
