<p class="titulo">Contrato de adesão aos serviços de telecobrança</p>

<p class="texto recuo" style="text-align: justify;">Pelo presente Contrato de Prestação de Serviços de Telecobrança,
   que entre si fazem, de um lado como
   <b>CONTRATADA COBRARR TELEATENDIMENTO E COBRANÇA LTDA (FÁCIL BRASIL CONTACT CENTER)</b>,
   empresa inscrita no CNPJ sob o n.º 02.602.061/0001-54, estabelecida em Sete Lagoas – MG,
    à Rua Duque de Caxias,
     35 salas 201, 202, 203, 204, 301, 302, 303, 304, 307, 401, 402, 403, 404, 406, 407, 408, 409 Centro,
      CEP 35700-022, fone 31 2107 1385, e de outro lado,
      como  <b style="text-transform: uppercase;">CONTRATANTE {{clientes.rzoSocial | uppercase  }}</b> pessoa jurídica estabelecida em
      <b style="text-transform: uppercase;"> {{clientes.endereco.cidade | uppercase }} - {{clientes.endereco.estado.uf | uppercase  }}</b>,
      à <b style="text-transform: uppercase;"> {{clientes.endereco.endereco}}</b>, <b style="text-transform: uppercase;">{{clientes.endereco.numero }}</b>, <b style="text-transform: uppercase;"> {{clientes.endereco.bairro | uppercase  }}</b>, <b style="text-transform: uppercase;">CEP {{clientes.endereco.cep }}</b> Inscrita sob o <b  style="text-transform: uppercase;"> nº {{clientes.cnpj}}</b>,
      têm justo e contratado reger-se pelas cláusulas e condições seguintes:</p>

<p class="texto">
    <b>CLÁUSULA PRIMEIRA:</b> O objeto contratado compreende a adesão pelo <b>CONTRATANTE</b>
    ao serviço de cobrança por teleatendimento ofertado pela <b>CONTRATADA</b>,
    cujos títulos serão indicados pelo <b>CONTRATANTE</b> mediante transmissão eletrônica de dados.
</p>

<p class="texto">
    PARÁGRAFO PRIMEIRO: A CONTRATANTE se responsabiliza na totalidade pela integridade e regularidade
    dos dados fornecidos, respondendo civil e criminalmente pelas declarações fornecidas,
    principalmente pelos danos causados por dados incorretos ou não informar a CONTRATADA os pagamentos para baixa.
</p>

<p class="texto">
    PARÁGRAFO SEGUNDO: Os documentos originais permanecem no poder da CONTRATANTE,
    que deverá encaminhá-los ao devedor quando for comprovada a  liquidação.
    A CONTRATANTE deverá proceder ao cancelamento da negativação do devedor
    quando for acusada a renegociação ou liquidação do título.
</p>

<p class="texto">
    <b>CLÁUSULA SEGUNDA:</b> A CONTRATADA executará os serviços prestados conforme cláusula
     primeira deste contrato, obedecendo às seguintes regras de negócio:
</p>

<div style="width:60%" style="text-align: center;">
<p style="text-align: center;">
    <img src="assets/img/controimg1.png" style="width:100%">
</p>
</div>
<p  class="texto">
    <b>Parcelamento –</b> Valor mínimo de parcela: R$ 80,00
    Quantidade máxima de parcelas: 06
</p>
<p class="texto">
  <b>CLÁUSULA TERCEIRA:</b> - A CONTRATANTE, abster-se-á de efetuar em seu estabelecimento, quaisquer acordos ou recebimentos com os clientes enviados para cobrança Fácil Brasil, devendo encaminhar ditos clientes à CONTRATADA para a formalização.
</p>
<p class="texto">
  <b>CLÁUSULA QUARTA:</b> A CONTRATADA cobrará pelos serviços prestados conforme faixa de atraso dos títulos:
</p>
<div style="width:30%" style="text-align: center;">
<p style="text-align: center;">
    <img src="assets/img/controimg2.png" style="width:50%">
</p>
</div>
<p class="texto">
    <b>PARÁGRAFO PRIMEIRO:</b> Havendo solicitação de devolução ou cancelamento da cobrança por parte da CONTRATANTE, esta pagará à CONTRATADA a título de comissão, os mesmos percentuais detalhados na cláusula quarta, <b>inclusive daqueles títulos enviados com informações erradas ou por engano</b>.
</p>
<p class="texto">
    <b>CLÁUSULA QUINTA:</b> A cobrança terá a duração 180 dias. Após esse prazo a CONTRATADA fará devolução dos casos que não houve formalização de acordo. Para os casos em que haja acordos formalizados, a cobrança permanecerá até que o acordo seja cumprido em sua totalidade. Para casos de formalização de acordo cujas parcelas registrem 30(trinta) dias de vencido e não pago será o CONTRATANTE informado do insucesso da cobrança.
</p>
<p class="texto">
    <b>CLÁUSULA SEXTA:</b> Todas as despesas para a realização do objeto do contrato serão de responsabilidade da CONTRATADA, principalmente no tocante a funcionários, encargos sociais, equipamentos, tecnologia, bem como a responsabilidade fiscal e trabalhista.
</p>
<p class="texto">
    <b>CLÁUSULA SETIMA:</b>  Todo recebimento será feito através de boleto bancário com crédito na conta da Fácil Brasil, a qual será responsável por comunicar os pagamentos diariamente ao CONTRATANTE.
</p>
<p class="texto">
  <b>PARÁGRAFO PRIMEIRO:</b>  Imediatamente após a comunicação do pagamento pela Fácil Brasil, a CONTRATANTE se responsabiliza em cancelar qualquer tipo de restrição que exista com relação ao título pago ou negociado.
</p>
<p class="texto">
    <b>CLÁUSULA OITAVA:</b> A Fácil Brasil prestará contas mensalmente dos valores
    recebidos e realizará o repasse até o 10º dia do mês posterior
     ao recebimento, mediante transferência bancária
      na   conta <b style="text-transform: uppercase;"> {{clientes.contaCorrente | uppercase  }}</b> agência <b style="text-transform: uppercase;">{{clientes.agencia | uppercase  }}</b> banco <b style="text-transform: uppercase;">{{clientes.banco.banco | uppercase  }}</b>  em favor do CONTRATANTE.
</p>
<p class="texto">
    <b>CLÁUSULA NONA:</b> O CONTRATO tem prazo indeterminado, podendo ser rescindido a qualquer momento, desde que notificada à parte contrária com a antecedência mínima de 30 dias.
</p>
<p class="texto">
    <b>CLÁUSULA DÉCIMA:</b> A Fácil Brasil disporá em seu portal (www.facilbrasil.com) avisos, notificações, campanhas, mudança de regras operacionais, dentre outras informações que julgar necessárias para o bom e fiel cumprimento do objeto deste contrato. Fica a CONTRATANTE ciente de que deverá diariamente ter ciência destas informações mediante acesso ao site, bem como ciente da responsabilidade de segui-las.
</p>
<p class="texto">
  <b>CLÁUSULA DÉCIMA PRIMEIRA: </b>O CONTRANTE declara estar ciente que o cadastro de títulos no sistema da CONTRATANTE implica na concordância e aceitação integral de todas as clausulas e condições estipuladas neste contrato.
</p>
