<div class="container" >
    <div class="ui-g-11">
        <iframe src="http://www2.cobrarr.com.br/NectarTeste/Login.aspx" style="border:0px #ffffff none;" name="myiFrame" scrolling="no" frameborder="1" marginheight="0px" marginwidth="0px" height="400px" width="600px" allowfullscreen></iframe>
        </div>
</div>
