<div class="logininfo">
<div class="container" style="max-width: 400px; margin: auto">
    <form autocomplete="off" #f="ngForm">
      <div class="ui-g ui-fluid">

        <div class="ui-g-12">
          <h1 style="text-align: center;">ÁREA DO CLIENTE</h1>
        </div>

        <div class="ui-g-12">
          <input pInputText type="text" name="usuario" placeholder="Usuário"
            ngModel required #usuario>
        </div>

        <div class="ui-g-12">
          <input pInputText type="password" name="senha" placeholder="Senha"
            ngModel required #senha>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Login" [disabled]="!f.valid" style="border: 1px solid #d8af04!important; background:#d8af04!important;"
            (click)="login(usuario.value, senha.value); senha.value = '';"></button>
        </div>

      </div>
      <p-dialog header="" [closable]="false" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
      <div class="logininfo2 texto-info">
        <p class="titulo"><span >{{ auth.jwtPayload?.usuario }}</span>,</p>
        <p class="text-center" style="margin: 0;">Seja bem vindo!</p>
        <br>
        <p class="text-center" style="margin: 0;"> O trabalho de recuperação de crédito é feito a quatro mãos!</p>
        <p class="text-center" style="margin: 0;"> O nosso trabalho além de cobrar é recuperar o seu cliente por isso para o maior sucesso</p>
        <p class="text-center" style="margin: 0;">precisamos contar com você!</p>
        <br>
        <p class="text-center" style="margin: 0;">De acordo com o código de defesa do consumidor devemos retirar as restrições dos nossos </p>
        <p class="text-center" style="margin: 0;">clientes em até 5 dias úteis. Sempre que receber um e-mail informativo de pagamento </p>
        <p class="text-center" style="margin: 0;">providencie a retirada das restrições dos clientes o quanto antes, para que seu cliente possa </p>
        <p class="text-center" style="margin: 0;">ficar satisfeito e não tenhamos problemas futuros.</p>
        <br>
        <p class="text-center" style="margin: 0;">Caso seu cliente te procure para fazer o pagamento, informe para ele o nosso telefone </p>
        <p class="text-center" style="margin: 0;"><B>0800 6021354</B> para que possamos atendê-lo da melhor forma.</p>
        <br>
        <p class="text-center" style="margin: 0;">O cadastro do seu cliente ficará ativo dentro da nossa plataforma durante 180 dias a </p>
        <p class="text-center" style="margin: 0;">contar da data da inclusão. Nesse período faremos o possível para tentar recuperar o</p>
        <p class="text-center" style="margin: 0;">seu crédito e o seu cliente.</p>
        <br>
        <p class="text-center" style="margin: 0;">O depósito em sua conta dos créditos recebidos será feitos sempre no 10º dia do mês </p>
        <p class="text-center" style="margin: 0;">posterior ao pagamento. Qualquer dúvida entre em contato conosco estaremos a</p>
        <p class="text-center" style="margin: 0;">disposição para melhor atende-lo.</p>
        <br>
        <p class="text-center" style="margin: 0;">Ao fim do prazo de 6 meses você recebera um e-mail informando que o seu cliente </p>
        <p class="text-center" style="margin: 0;">será baixado de nossa plataforma caso deseje continuar com a cobrança reative o</p>
        <p class="text-center" style="margin: 0;">título novamente.</p>
        <br>
        <p class="text-center" style="margin: 0;">Consulte o andamento de suas cobranças sempre que precisar para isso acesse o link abaixo.</p>
        <br>
        <p class="text-center" style="margin: 0;"><a href="http://nectar.facilbrasil.com/" target="_blank" style="margin: 0;"><B><u>Consulte suas cobranças.</u></B></a></p>
        <br>
        <p class="text-center" style="margin: 0;">A responsabilidade do cadastro do cliente é sempre sua, na hora da venda lembre-se de pegar</p>
        <p class="text-center" style="margin: 0;">o maior número de informações do seu cliente, como no mínimo 2 telefones de contato, no </p>
        <p class="text-center" style="margin: 0;">minino 2 telefones de referência, e-mails e endereços,  para que nesse momento da cobrança </p>
        <p class="text-center" style="margin: 0;">possamos localiza-lo. Faremos a nossa parte, mas contamos com você!</p>
      </div>
        <p-footer>
            <div class="text-center ui-dialog-buttonpane ui-helper-clearfix">
                      <button type="submit" pButton icon="fa fa-check" (click)="showDialogOK()" label="OK" style="border: 1px solid #d8af04!important; background:#d8af04!important;"></button>
            </div>
        </p-footer>
        </p-dialog>
    </form>
    <!--
    <div id="corpo">
        <a href="http://sac-cobrarr.ascbrazil.com.br/Chat/" target="_blank">
          <img src="assets/img/chat.png" width="90px" height="90px"> </a>
    </div>
  -->



  </div>
</div>
