<div class="container">
    <div class="ui-g-11">
      <form autocomplete="off" (ngSubmit)="pesquisar()">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      <div class="ui-g-12">
        <h1>Clientes</h1>
      </div>


      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome" [(ngModel)]="filtro.nome">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>CPF</label>
        <input pInputText type="text" name="cpf" [(ngModel)]="filtro.cpf">
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
        <label>Telefone</label>
        <input pInputText type="text" name="telefone" [(ngModel)]="filtro.telefone">
      </div>
      <div class="ui-g-3">
        <label style="display: block">Data</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '100px' }"
        name="dataCadastroInicio" [locale]="pt" [(ngModel)]="filtro.dataCadastroInicio"></p-calendar>
        <label>até</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{ width: '100px' }"
        name="dataCadastroFim" [locale]="pt"  [(ngModel)]="filtro.dataCadastroFim"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Inativo</label>
          <div class="ui-g-12">
          <p-checkbox name="ativo" [(ngModel)]="filtro.inativo" binary="true"></p-checkbox>
          </div>
     </div>
      <div id="buttonbar" class="ui-g-12">
        <button pButton type="submit" label="Pesquisar" style="border: 1px solid #d8af04!important; background:#d8af04!important;"></button>
        <button pButton type="text"  (click)="limparFiltros()" label="Limpar Filtros" style="border: 1px solid #d8af04!important; background:#d8af04!important;"></button>
      </div>
      </form>

        <div class="ui-g-12">
            <p-table [value]="clientes" [resizableColumns]="true"
             [responsive]="true" [paginator]="true" [rows]="filtro.itensPorPagina" [rowsPerPageOptions]="[5,10,20,50,100]" [lazy]="true" [totalRecords]="totalRegistros" [scrollable]="true"
             (onLazyLoad)="aoMudarPagina($event)" >
              <ng-template pTemplate="caption">
                   Clientes
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                    <td class="col-acoescli">Ações</td>
                    <td class="col-num">Status</td>
                    <td class="col-geral-header">Nome</td>
                    <td class="col-email-header">Email</td>
                    <td class="col-geral-header">Razão Social</td>
                    <td class="col-geral-header">Cnpj</td>
                    <td class="col-geral-header">Inscr. Estadual</td>
                    <td class="col-geral-header">Endereço</td>
                    <td class="col-num">Número</td>
                    <td class="col-geral-header">Bairro</td>
                    <td class="col-geral-header">Cidade</td>
                    <td class="col-geral-header">Estado</td>
                    <td class="col-geral-header">Cep</td>
                    <td class="col-geral1-header">Telefone</td>
                    <td class="col-geral1-header">Whatsapp </td>
                    <td class="col-geral-header">Setor Atividade</td>
                    <td class="col-geral-header">Princ. Concorrentes</td>
                    <td class="col-geral-header">Ind. Inadimplencia</td>
                    <td class="col-geral-header">Emp. do Grupo</td>
                    <td class="col-geral-header">Contatos Cobrança</td>
                    <td class="col-geral-header">Cargo</td>
                    <td class="col-geral-header">Observações</td>
                    <td class="col-geral-header">Banco</td>
                    <td class="col-geral1-header">Agência</td>
                    <td class="col-geral1-header">C/C</td>
                    <td class="col-num">Operação</td>
                    <td class="col-data">Data Cadastro</td>
                </tr>
              </ng-template>
              <ng-template  pTemplate="body" let-clientes>
                  <tr>
                      <td id="buttonbar"  class="col-acoescli">
                          <a pButton icon="fa fa-file-pdf-o" pTooltip="Imprimir Contrato" (click)="imprimirContrato(clientes.codigo)" tooltipPosition="top" style="border: 1px solid #d8af04!important; background:#d8af04!important;"></a>
                          <a pButton icon="fa fa-edit" pTooltip="Editar Cliente"  [routerLink]="['/usuarios', clientes.codigo]" tooltipPosition="top" style="border: 1px solid #d8af04!important; background:#d8af04!important;"></a>
                          <a pButton icon="fa fa-eye" [routerLink]="['/cliente', clientes.codigo]" pTooltip="Visualizar Títulos" tooltipPosition="top" style="border: 1px solid #d8af04!important; background:#d8af04!important;" ></a>
                          <a pButton icon="fa fa-table" pTooltip="Exportar Títulos"   (click)="gerarTitulos(clientes.codigo)" tooltipPosition="top" style="border: 1px solid #d8af04!important; background:#d8af04!important;"></a>
                        </td>
                      <td class="col-num">
                            <a href="javascript:;" [pTooltip]="clientes.ativo ? 'Desativar' : 'Ativar'"
                                tooltipPosition="top"
                                (click)="alternarStatus(clientes)">
                              {{ clientes.ativo ? 'Ativo' : 'Inativo' }}
                            </a>
                      </td>
                      <td class="col-geral-header">{{ clientes.nome | uppercase}}</td>
                      <td class="col-email-header">{{ clientes.email | uppercase }}</td>
                      <td class="col-geral-header">{{ clientes.rzoSocial | uppercase }}</td>
                      <td class="col-geral-header">{{ clientes.cnpj }}</td>
                      <td class="col-geral-header">{{ clientes.inscEstadual | uppercase }}</td>
                      <td class="col-geral-header">{{ clientes.endereco | uppercase }}</td>
                      <td class="col-num">{{ clientes.numero }}</td>
                      <td class="col-geral-header">{{ clientes.bairro | uppercase }}</td>
                      <td class="col-geral-header">{{ clientes.cidade | uppercase }}</td>
                      <td class="col-geral-header">{{ clientes.estado | uppercase }}</td>
                      <td class="col-geral-header">{{ clientes.cep | uppercase}}</td>
                      <td class="col-geral1-header">{{ clientes.telefone  }}</td>
                      <td class="col-geral1-header">{{ clientes.whatsapp }}</td>
                      <td class="col-geral-header">{{ clientes.strAtividade | uppercase }}</td>
                      <td class="col-geral-header">{{ clientes.princConcorrentes | uppercase }}</td>
                      <td class="col-geral-header">{{ clientes.indInadimplencia | uppercase }}</td>
                      <td class="col-geral-header">{{ clientes.empGroup  | uppercase }}</td>
                      <td class="col-geral-header">{{ clientes.contCobranca | uppercase }}</td>
                      <td class="col-geral-header" >{{ clientes.cargo | uppercase }}</td>
                      <td class="col-geral-header">{{ clientes.observacoes | uppercase }}</td>
                      <td class="col-geral-header">{{ clientes.banco | uppercase }}</td>
                      <td class="col-geral1-header">{{ clientes.agencia | uppercase }}</td>
                      <td class="col-geral1-header">{{ clientes.contaCorrente | uppercase }}</td>
                      <td class="col-num">{{ clientes.operacao | uppercase }}</td>
                      <td class="col-data">{{ clientes.dtCadastro | date:'dd/MM/yyyy' }}</td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="6">
                        Nenhum cliente encontrado
                      </td>
                    </tr>
                  </ng-template>
            </p-table>
      </div>



    </div>
  </div>
