<div class="container">
    <form  autocomplete="off" #contatoForm="ngForm" (ngSubmit)="salvarContato(contatoForm)">
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      <div class="ui-g-11">
        <div id="main-content">
          <div class="box div-login" style="margin-bottom:0!important; /*display:none;*/">
            <div class="box-title">
              <h3>
                <i class="fa fa-phone"></i>
                <span>Ligamos para Você</span>
              </h3>
            </div>

            <div class="box-content">
                <div class="col-md-12">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="ui-g-12 ui-md-12 ui-fluid">
                      <h1 style="color: #2e3467 !important;"><b>Solicite a ligação dos nossos consultores</b></h1>
                      <span class="useremail"><b>Deseja falar com um de nossos consultores? A Fácil Brasil
                        liga para você! Basta preencher o formulário abaixo, clicar em   <b style="text-transform: uppercase; color:#d8af04">Liga pra mim!</b> e
                        aguardar nosso contato.</b>
                      </span>
                    </div>
                    </div>
              </div>
              <div class="col-md-12">

                <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="ui-g-12 ui-md-6 ui-fluid">
                          <label><b>Nome</b></label>
                          <input pInputText type="text" id="nome" placeholder="NOME" name="nome"   [(ngModel)]="contato.nome" ngModel #nome="ngModel"   maxlength="70" size="70" required minlength="3"  class="form-control show-tooltip">

                          <app-message [control]="nome" error="required"
                          text="Informe um nome"></app-message>

                          <app-message [control]="nome" error="touched"
                          text="Informe uma nome"></app-message>


                          <app-message [control]="nome" error="minlength"
                            text="Mínimo de {{nome.errors?.minlength?.requiredLength }} caracteres"></app-message>
                      </div>
                      <div class="ui-g-12 ui-md-6 ui-fluid">
                        <label><b>Telefone + DDD</b></label>

                        <input pInputText type="text"  placeholder="Telefone + DDD"  [dropSpecialCharacters]="false" mask="(99)9*" name="telefone"  [(ngModel)]="contato.telefone" ngModel #telefone="ngModel" class="form-control show-tooltip"  required>

                        <app-message [control]="telefone" error="required"
                        text="Informe o telefone"></app-message>


                      </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="ui-g-12 ui-md-6 ui-fluid">
                      <label><b>Insira seu CPF/CNPJ</b></label>
                      <input pInputText type="text" name="cpfCnpj" maxlength="20" size="20" placeholder="CPF/CNPJ"  class="form-control show-tooltip"
                        required [(ngModel)]="contato.cpfCnpj" #cpfCnpj="ngModel"/>
                      <app-message [control]="cpfCnpj" error="required" text="Informe o Cpf ou Cnpj"></app-message>
                      <app-cpf-cnpj [control]="cpfCnpj" error="required"
                      text="cpf ou cnpj não é válido"></app-cpf-cnpj>
                    </div>
                    <div class="ui-g-12 ui-md-6 ui-fluid">
                      <label><b>Selecione melhor horário para contato</b></label>
                      <input type="text" name="horario" placeholder="10:50 PM" mask="99:99 AA*" class="form-control"  required [(ngModel)]="contato.horario" #horario="ngModel">

                      <app-message [control]="horario" error="required" text="Informe o horário"></app-message>

                    </div>
                </div>
                <br>
              </div>
              <div class="ui-g-12 text-center" style="margin-top: 10px">

                      <button type="submit" class="btn btn-outline-warning" pButton icon="fa fa-phone" label="LIGAR PRA MIM!" style="border-color:#d8af04!important;  background:#d8af04!important;  border-radius: 19px;" [disabled]="contatoForm.invalid"></button>

              </div>
            </div>
          </div>
          <div class="rodape">

            </div>
        </div>


  </div>
  </form>
  </div>
