<div class="container">
    <div class="ui-g-11">
 <div class="ui-g-12">
    <h1>Mensagens</h1>
  </div>
<div class="ui-g-12">
  <p-table [value]="msgs"  [responsive]="true"  [lazy]="true" [scrollable]="true">
    <ng-template pTemplate="caption">
         Mensagens
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
          <td class="col-geral-header">Nome</td>
          <td class="col-email-header">Email</td>
          <td class="col-geral-header">Assunto</td>
          <td class="col-geral-header">Mensagem</td>
      </tr>
    </ng-template>
    <ng-template  pTemplate="body" let-msgs>
        <tr>
            <td class="col-geral-header">{{ msgs.nome | uppercase}}</td>
            <td class="col-email-header">{{ msgs.email | uppercase }}</td>
            <td class="col-geral-header">{{ msgs.assunto | uppercase }}</td>
            <td class="col-geral-header">{{ msgs.mensagem }}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhuma mensagem encontrada
            </td>
          </tr>
        </ng-template>
  </p-table>
</div>
</div></div>
