<div class="container" >
  <form  autocomplete="off" #tituloForm="ngForm"  (ngSubmit)="salvar(tituloForm)">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      <div class="ui-g-11">
          <div class="ui-g-12">
            <h1>Cadastro de Títulos</h1>
          </div>
          <div class="ui-g-12">
                  <div class="ui-g-12  ui-fluid info2">
                    <i>
                      <b style="text-transform: uppercase; color:#d8af04">*</b>
                      Após adicionar todos os títulos, lembre-se de clicar em
                      <b style="text-transform: uppercase; color:#d8af04">SALVAR TÍTULOS</b>
                      para confirmar os dados em nosso sistema. A Fácil Brasil agradece!</i>
                      <p>
                          <b style="text-transform: uppercase; color:#d8af04">*</b> <a style="color:#d8af04"  href="javascript:void(0)" (click)="imprimirContrato(cliente.codigo)" > Imprimir contrato!</a>
                      </p>
                  </div>
            </div>
              <div class="ui-g-12">
                  <p-panel header="TÍTULOS">
                      <div class="ui-g">
                          <div class="ui-g-12 col-acoes" id="buttonbar">

                              <a pButton type="text"  label="SALVAR TÍTULOS" icon="fa fa-save"
                              style="text-align: center; float: right;  color: #FFF!important; border: 1px solid #d8af04!important; background:#d8af04!important; font-size: 15px; margin: 2px;height: 30px;"  (click)="showDialogToAceppt()"  #salvaTitulo></a>


                              <a pButton type="text" label="NOVO TÍTULO" icon="fa fa-plus"
                              style="border: 1px solid #d8af04!important; background:#d8af04!important;" (click)="confirm(); frmTitulo.reset()" *ngIf="temTituloIndex !== 0" ></a>

                              <a pButton type="text" label="NOVO TÍTULO" icon="fa fa-plus"
                              style="border: 1px solid #d8af04!important; background:#d8af04!important;" (click)="prepararNovoTitulo(); frmTitulo.reset()" *ngIf="temTituloIndex === 0" ></a>
                          </div>
                          <div class="ui-g-12">
                              <p-table [value]="cliente.titulos" [resizableColumns]="true" [paginator]="true" [rows]="20" [rowsPerPageOptions]="[5,10,20,50,100]"
                              [responsive]="true"  [scrollable]="true">
                                  <ng-template pTemplate="header" let-columns>
                                      <tr>
                                          <td class="col-acoes2"  *ngIf="auth.temPermissao('ROLE_PESQUISAR_CLIENTE')">AÇÕES</td>
                                          <td class="col-geral-header">NOME</td>
                                          <td class="col-geral-header">CPF / CNPJ</td>
                                          <td class="col-geral-header">CONTRATO/CONTA</td>
                                          <td class="col-email-header">DOCUMENTO OU TIPO DE DÍVIDA</td>
                                          <td class="col-email-header">NÚMERO DO TÍTULO/CHEQUE</td>
                                          <td class="col-geral-header">DATA DE ENVIO/ENTRADA</td>
                                          <td class="col-geral-header">VENCIMENTO DÍVIDA</td>
                                          <td class="col-geral-header">SALDO A COBRAR</td>
                                          <td class="col-geral-header">ENDEREÇO</td>
                                          <td class="col-num">NÚMERO</td>
                                          <td class="col-geral-header">COMPLEMENTO</td>
                                          <td class="col-geral-header">BAIRRO</td>
                                          <td class="col-geral-header">MUNICÍPIO</td>
                                          <td class="col-geral-header">ESTADO</td>
                                          <td class="col-geral-header">CEP</td>
                                          <td class="col-geral-header">TELEFONE</td>
                                          <td class="col-geral-header">TELEFONE 2</td>
                                          <td class="col-geral-header">CELULAR</td>
                                          <td class="col-geral-header">REFERÊNCIA</td>
                                          <td class="col-geral-header">EMAIL</td>
                                      </tr>
                                    </ng-template>
                                    <ng-template  pTemplate="body" let-titulo let-rowIndex="rowIndex">
                                      <tr>
                                        <td id="buttonbar"  class="col-acoes2" *ngIf="auth.temPermissao('ROLE_PESQUISAR_CLIENTE')">
                                            <a pButton icon="fa fa-trash"
                                            pTooltip="Excluir" tooltipPosition="top" (click)="removerTitulo(rowIndex)" style="border: 1px solid #d8af04!important; background:#d8af04!important;"></a>

                                        </td>
                                        <td class="col-geral-header">{{ titulo.nome | uppercase }}</td>
                                        <td class="col-geral-header">{{ titulo.cpfCnpj | uppercase }}</td>
                                        <td class="col-geral-header">{{ titulo.contratoConta | uppercase }}</td>
                                        <td class="col-email-header">{{ titulo.tipoDivida?.codigo }}</td>

                                        <td class="col-email-header" *ngIf="titulo.tipoDivida.codigo === 2">Nº {{titulo.numOuTituloCheque }} BCO {{ titulo.banco.banco }} AG {{ titulo.agencia }} C/C {{ titulo.contaCorrente }}</td>
                                        <td class="col-email-header" *ngIf="titulo.tipoDivida.codigo !== 2">{{ titulo.numOuTituloCheque }}</td>

                                        <td class="col-geral-header">{{ titulo.dataEnvioEntrada  | date:'dd/MM/yyyy' }}</td>
                                        <td class="col-geral-header">{{ titulo.dataVencimentoDivida | date:'dd/MM/yyyy' }}</td>
                                        <td class="col-geral-header">{{ titulo.saldoACobrar  }}</td>
                                        <td class="col-geral-header">{{ titulo.endereco | uppercase  }}</td>
                                        <td class="col-num">{{ titulo.numero }}</td>
                                        <td class="col-geral-header">{{ titulo.complemento | uppercase  }}</td>
                                        <td class="col-geral-header">{{ titulo.bairro | uppercase  }}</td>
                                        <td class="col-geral-header">{{ titulo.municipio | uppercase  }}</td>
                                        <td class="col-geral-header">{{ titulo.estado?.nome  | uppercase  }}</td>
                                        <td class="col-geral-header">{{ titulo.cep  }}</td>
                                        <td class="col-geral-header">{{ titulo.telefone1 }}</td>
                                        <td class="col-geral-header">{{ titulo.telefone2 }}</td>
                                        <td class="col-geral-header">{{ titulo.celular }}</td>
                                        <td class="col-geral-header">{{ titulo.referencia | uppercase  }}</td>
                                        <td class="col-geral-header">{{ titulo.email | uppercase }}</td>
                                      </tr>

                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                          <td colspan="6">
                                            Nenhum título encontrado
                                          </td>
                                        </tr>
                                      </ng-template>
                              </p-table>
                          </div>
                      </div>
                  </p-panel>
              </div>
      </div>
      <p-dialog  [(visible)]="displayDialog" [closable]="false" icon="fa fa-question-circle" #confirmacao>
          <p-header>
              Confirmar
          </p-header>
            Você realmente deseja salvar os títulos?
        <p-footer>
          <button pButton type="submit" pButton icon="fa fa-check" label="Sim"  style="border: 1px solid #d8af04!important; background:#d8af04!important;"></button>
          <a type="text" (click)="showDialogToReject()" pButton icon="fa fa-times" label="Não"  style="border: 1px solid #d8af04!important; background:#d8af04!important;" ></a>
        </p-footer>
      </p-dialog>
  </form>
  <p-confirmDialog header="Utilizar dados do último título" icon="pi pi-exclamation-triangle" width="425" #cd>
      <p-footer>
          <button type="button" pButton icon="pi pi-times" label="Sim" style="border: 1px solid #d8af04!important; background:#d8af04!important;" (click)="cd.accept()"></button>
          <button type="button" pButton icon="pi pi-check" label="Não" style="border: 1px solid #d8af04!important; background:#d8af04!important;"  (click)="cd.reject()"></button>
      </p-footer>
  </p-confirmDialog>

  <p-dialog header="NOVO TÍTULO" [(visible)]="exbindoFormularioTitulo" resizable="false" responsive="true"
   modal="modal" [width]="1000">
   <form  autocomplete="off" #frmTitulo="ngForm"  (ngSubmit)="confirmarTitulo(frmTitulo)">
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>NOME <font color="red">*</font></label>
          <input pInputText type="text" name="nome" maxlength="100" size="100"
            required [(ngModel)]="titulo.nome" #tituloNome="ngModel"/>
          <app-message [control]="tituloNome" error="required" text="Informe o nome"></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>CPF / CNPJ <font color="red">*</font></label>
          <input pInputText type="text" name="cpfCnpj" maxlength="20" size="20"
            required [(ngModel)]="titulo.cpfCnpj" #tituloCpfCnpj="ngModel"/>
          <app-message [control]="tituloCpfCnpj" error="required" text="Informe o Cpf ou Cnpj"></app-message>
          <app-cpf-cnpj [control]="tituloCpfCnpj" error="required"
          text="cpf ou cnpj não é válido"></app-cpf-cnpj>
        </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>CONTRATO / CONTA<font color="red">*</font> <i style="font-size: 10px; color: #d8af04;  "> Obs.:* Contrato, Conta ou CPF do Cliente</i></label>
          <input pInputText type="text" name="contratoConta" maxlength="30" size="30"
            required [(ngModel)]="titulo.contratoConta" #tituloContratoConta="ngModel"/>
          <app-message [control]="tituloContratoConta" error="required" text="Informe o contrato, conta ou cpf do cliente"></app-message>
      </div>
      <div class="ui-g-12 ui-md-6  ui-fluid">
          <label>TIPO DIVIDA <font color="red">*</font></label>
          <p-dropdown  appendTo="body" name="tipoDividas" [options]="tipoDividas" optionLabel="tipo" (onChange)="mostrarCamposCheque()"
          placeholder="Selecione..." [autoWidth]="false"
          [(ngModel)]="titulo.tipoDivida"
          required ></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>NÚMERO DO TITULO <font color="red">*</font></label>
          <input pInputText type="text" name="numOuTituloCheque" maxlength="30" size="30"
            required [(ngModel)]="titulo.numOuTituloCheque" #tituloNumOuTituloCheque="ngModel"/>
          <app-message [control]="tituloNumOuTituloCheque" error="required" text="Informe o número ou titulo do cheque"></app-message>
      </div>
      <div   *ngIf="cheque">
      <div class="ui-g-12 ui-md-6  ui-fluid">
          <label>BANCO <font color="red">*</font></label>
          <p-dropdown appendTo="body"  name="bancos" [options]="bancos" optionLabel="banco"
          placeholder="Selecione..." [autoWidth]="false" required
          [(ngModel)]="titulo.banco"  #tituloBanco="ngModel"></p-dropdown>
          <app-message [control]="tituloBanco" error="required" text="Informe um banco"></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>AGÊNCIA <font color="red">*</font></label>
          <input pInputText type="text" name="agencia" maxlength="30" size="30" required
             [(ngModel)]="titulo.agencia" #tituloAgencia="ngModel"/>
             <app-message [control]="tituloAgencia" error="required" text="Informe uma agência"></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>C/C <font color="red">*</font></label>
          <input pInputText type="text" name="contaCorrente" maxlength="30" size="30" required
             [(ngModel)]="titulo.contaCorrente" #tituloContaCorrente="ngModel"/>
             <app-message [control]="tituloContaCorrente" error="required" text="Informe uma conta corrente"></app-message>
      </div>
    </div>
      <div class="ui-g-12 ui-md-6  ui-fluid">
          <label>VENCIMENTO DA DIVIDA</label>
          <p-calendar dateFormat="dd/mm/yy"  name="dataVencimentoDivida" [locale]="pt" [(ngModel)]="titulo.dataVencimentoDivida"></p-calendar>
      </div>
      <div class="ui-g-12 ui-md-6  ui-fluid">
      <label>SALDO A COBRAR <font color="red">*</font></label>
      <input pInputText type="text"  maxlength="12" size="12" name="saldoACobrar" placeholder="0,00"  [(ngModel)]="titulo.saldoACobrar" required
      currencyMask [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"
       #titulosaldoACobrar="ngModel"/>
      <app-message [control]="titulosaldoACobrar" error="required" text="Informe o saldo a cobrar"></app-message>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>ENDEREÇO</label>
          <input pInputText type="text" name="endereco" maxlength="50" size="50"
             [(ngModel)]="titulo.endereco"  #tituloEndereco="ngModel"/>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>NÚMERO</label>
          <input  pInputText type="number"  pattern="[0-9]+$" name="numero" maxlength="30" size="30"
            [(ngModel)]="titulo.numero"  #tituloNumero="ngModel"/>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>COMPLEMENTO</label>
          <input pInputText type="text" name="complemento" maxlength="30" size="30"
             [(ngModel)]="titulo.complemento" #tituloComplemento="ngModel"/>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>BAIRRO</label>
          <input pInputText type="text" name="bairro" maxlength="30" size="30"
             [(ngModel)]="titulo.bairro" #tituloBairro="ngModel"/>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>MUNICÍPIO</label>
          <input pInputText type="text" name="municipio" maxlength="30" size="30"
             [(ngModel)]="titulo.municipio" #tituloMunicipio="ngModel"/>
      </div>
      <div class="ui-g-12 ui-md-6  ui-fluid">
          <label>ESTADOS</label>
          <p-dropdown appendTo="body" name="estados" [options]="estados" optionLabel="nome"
          placeholder="Selecione..." [autoWidth]="false"
          [(ngModel)]="titulo.estado" #tituloEstados="ngModel"></p-dropdown>
      </div>
      <div class="ui-g-12 ui-md-6  ui-fluid">
          <label>CEP</label>
          <input pInputText type="text" [dropSpecialCharacters]="false"
           mask="99999-999" name="cep" [(ngModel)]="titulo.cep" ngModel #tituloCep="ngModel" #cep>
      </div>
      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>TELEFONE <font color="red">*</font></label>
          <input pInputText type="text" [dropSpecialCharacters]="false" mask="(99)9*" name="telefone1"  [(ngModel)]="titulo.telefone1" ngModel #tituloTelefone="ngModel" required #telefone1>
       </div>
       <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>TELEFONE 2</label>
          <input pInputText type="text" [dropSpecialCharacters]="false" mask="(99)9*" name="telefone2"  [(ngModel)]="titulo.telefone2" ngModel #tituloTelefone2="ngModel" #telefone2>
       </div>
       <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>CELULAR</label>
          <input pInputText type="text" [dropSpecialCharacters]="false" mask="(99)9*" name="celular"  [(ngModel)]="titulo.celular" ngModel #tituloCelular="ngModel" #celular>
       </div>
       <div class="ui-g-12  ui-md-6   ui-fluid">
          <label>EMAIL <font color="red"></font></label>
          <input pInputText  type="email" name="email" maxlength="50" size="50" [(ngModel)]="titulo.email"  ngModel #tituloEmail="ngModel">
          <div class="ui-message ui-messages-warn">
              Essa informação é muito importante, é mais um canal que pode ser utilizado na estratégia de cobrança.
          </div>
        </div>
      <div class="ui-g-12" style="text-align: center">
          <button pButton type="submit" label="CONFIRMAR" style="border: 1px solid #d8af04!important; background:#d8af04!important;" [disabled]="frmTitulo.invalid"></button>
      </div>
   </form>
  </p-dialog>
</div>
