<header id="topnav" class="navbar navbar-default navbar-fixed-top">

	<div class="logo-area">
		<span id="trigger-sidebar" class="toolbar-trigger toolbar-icon-bg">
			<a data-toggle="tooltips" data-placement="right" title="Toggle Sidebar">
				<span class="icon-bg" *ngIf="exibindoNavbar()">
					<i class="ti ti-shift-left"></i>
				</span>
			</a>
		</span>

    <a href="javascript:;" class="navbar-brand"></a>
	</div><!-- logo-area -->


	<ul class="nav navbar-nav toolbar pull-right">

        <li class="toolbar-icon-bg hidden-xs" id="trigger-fullscreen">
            <a  href="#" onclick="return false;"  class="toggle-fullscreen"><span class="icon-bg" *ngIf="exibindoNavbar()"><i class="ti ti-fullscreen"></i></span></a>
        </li>
		<li class="dropdown toolbar-icon-bg">
			<a href="#" class="dropdown-toggle" data-toggle='dropdown'><span class="icon-bg" *ngIf="exibindoNavbar()"><i class="ti ti-user"></i></span></a>
			<ul class="dropdown-menu userinfo arrow">
				<li><a href="javascript:;" (click)="logout()"><i class="ti ti-shift-right"></i><span>Sair</span></a></li>
			</ul>
		</li>

	</ul>
</header>
<div id="wrapper">
  <div id="layout-static">
    <div class="static-sidebar-wrapper sidebar-facilbrasil" *ngIf="exibindoNavbar()">

      <div class="static-sidebar">
        <div class="sidebar">
          <div class="widget">
            <div class="widget-body">
              <div class="userinfo">
          <div class="avatar">
              <img src="assets/img/avatar.jpg" class="img-responsive img-circle">
          </div>
          <div class="info3">
            <div class="row"><span class="username">{{ auth.jwtPayload?.usuario }}</span></div>

              <span class="useremail">{{ auth.jwtPayload?.email }}</span>
          </div>
              </div>
             </div>
          </div>
<div class="widget stay-on-collapse" id="widget-sidebar">
<nav class="widget-body">
<ul class="acc-menu">
<li (click)="open($event)" style="cursor:pointer" *ngIf="auth.temPermissao('ROLE_CADASTRAR_TITULO') && auth.jwtPayload?.visivel"><a  href="#" onclick="return false;"> <i class="fa fa-home"></i><span>Home</span></a></li>
<li class="nav-separator" *ngIf="auth.temPermissao('ROLE_CADASTRAR_TITULO') && auth.jwtPayload?.visivel"><span>Cadastro de Títulos</span></li>
<li *ngIf="auth.temPermissao('ROLE_CADASTRAR_TITULO') && auth.jwtPayload?.visivel"><a [routerLink]="['/cliente/titulos']"><i class="ti ti-plus"></i><span >Cadastro Manual</span></a></li>
<li *ngIf="auth.temPermissao('ROLE_CADASTRAR_TITULO') && auth.jwtPayload?.visivel"><a [routerLink]="['/titulos/titulos-upload']"><i class="fa fa-upload"></i><span >Importação em Lote</span></a></li>
<li class="nav-separator" *ngIf="auth.temPermissao('ROLE_PESQUISAR_CLIENTE')"><span>Administrador</span></li>
<li *ngIf="auth.temPermissao('ROLE_PESQUISAR_CLIENTE')"><a [routerLink]="['/usuarioSistema']"><i class="fa fa-users"></i><span >Usuários Fácil</span></a></li>
<li *ngIf="auth.temPermissao('ROLE_PESQUISAR_CLIENTE')"><a [routerLink]="['/clientes']"><i class="fa fa-users"></i><span >Pesquisar Clientes</span></a></li>
<li class="nav-separator"><span>Fale Conosco</span></li>
<!--<li><a [routerLink]="['/atendimento/mensagem']"><i class="fa fa-envelope-o"></i><span >Atendimento via Mensagem</span></a></li>-->
<!-- <li><a [routerLink]="['/atendimento/chat']"><i class="fa fa-comment-o"></i><span >Atendimento via Chat</span></a></li>-->
<li><a href="https://api.whatsapp.com/send?phone=5531986199306&text=0" target="_blank"><i class="fa fa-mobile-phone"></i><span >Atendimento via WhatsApp</span></a></li>
<li  *ngIf=false><a [routerLink]="['/atendimento/contato']"><i class="fa fa-phone"></i><span >Ligamos para você!</span></a></li>
<li  *ngIf=false><a [routerLink]="['/atendimento/suporte']"><i class="ti ti-help-alt"></i><span >Suporte</span></a></li>
</ul>
</nav>
</div>
   </div>
  </div>
</div>
<div class="static-content-wrapper">
    <div class="static-content">
        <div class="page-content">
            <ol class="breadcrumb" *ngIf="exibindoNavbar()">
                  <li class=""><a>
                      {{this.router.url === '/cliente/titulos' ? "Cadastro de Titúlos" :
                      this.router.url === '/titulos/titulos-upload' ? "Cadastro de Titúlos" :
                      this.router.url === '/titulos/titulos-principal' ? "Home" :
                      this.router.url === '/cliente/status' ? "Cliente" :
                      this.router.url === '/cliente/emails' ? "Cliente" :
                      this.router.url === '/cliente/video' ? "Cliente" :
                      this.router.url === '/atendimento/mensagem' ? "Fale Conosco" :
                      this.router.url === '/atendimento/chat' ? "Fale Conosco" :
                      this.router.url === '/atendimento/contato' ? "Fale Conosco" :
                      this.router.url === '/atendimento/suporte' ? "Fale Conosco" :
                      this.router.url === '/clientes' ? "Administrador" :
                      this.router.url === '/usuarioSistema' ? "Administrador" : ""
                      }}

                  </a></li>
                  <li class="active"><a>
                      {{this.router.url === '/cliente/titulos' ? "Cadastro Manual" :
                      this.router.url === '/titulos/titulos-principal' ? "Dashboard" :
                      this.router.url === '/titulos/titulos-upload' ? "Importação de Títulos em Lote" :
                      this.router.url === '/cliente/status' ? "Status da Conta" :
                      this.router.url === '/cliente/emails' ? "Emails" :
                      this.router.url === '/cliente/video' ? "Vídeo Tutorial" :
                      this.router.url === '/atendimento/mensagem' ? "Atendimento via Mensagem" :
                      this.router.url === '/atendimento/chat' ? "Atendimento via Chat" :
                      this.router.url === '/atendimento/contato' ? "Ligamos para Você" :
                      this.router.url === '/atendimento/suporte' ? "Suporte" :
                      this.router.url === '/clientes' ? "Pesquisar Clientes" :
                      this.router.url === '/usuarioSistema' ? "Usuário Sistema" : ""
                      }}

                  </a></li>
            </ol>
            <div class="page-heading">

            </div>
            <div class="container-fluid">
                <div class="row">
                        <router-outlet></router-outlet>

                        <ng2-toasty [position]="'top-right'"></ng2-toasty>

                </div>
        </div>
    </div>
</div>

<footer>
<div class="clearfix">
  <ul class="list-unstyled list-inline pull-left">
      <li><h6 style="margin: 0;">&copy; 2019 Fácil Brasil!</h6></li>
  </ul>
  <button class="pull-right btn btn-link btn-xs hidden-print" id="back-to-top"><i class="ti ti-arrow-up"></i></button>
</div>
</footer>
</div>
</div>
</div>
