
<h2 class="sucesso">ADESÃO REALIZADA COM SUCESSO!</h2>
<h2 class="sucesso">AGRADECEMOS A PARCERIA!</h2>

<p class="thankyou">Aguarde contato de nosso setor comercial com seu acesso</p>
<p class="thankyou">para cadastro dos títulos.</p>
<p class="thankyou">Desde já, a Fácil Brasil agradece a sua confiança e preferência em nosso trabalho.</p>



<p class="thankyou">Você tomou a decisão certa!</p>
