<div class="container" >
    <div class="row">
        <div class="ui-g-11">
            <div class="col-md-5">
                <div class="panel panel-yellow" data-widget='{"id" : "wiget1"}'>
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="info-tile info-tile-alt tile-warning">
                                      <div class="tile-icon"><i class="ti ti-eye"></i></div>
                                      <div class="tile-heading"><span>O valor de títulos cadastrados até o momento</span></div>
                                      <div class="tile-body"><span>{{saldoACobrar |  currency:"R$"}}</span></div>
                                      <div class="tile-footer"></div>
                                  </div>
                      </div>
                    </div>
    <!--                 <div class="row">
                        <div class="col-md-12">
                            <div class="info-tile info-tile-alt tile-info">
                                <div class="tile-icon"><i class="ti ti-thumb-up"></i></div>
                                <div class="tile-heading"><span>Nós já recuperamos pra você até o momento:</span></div>
                                <div class="tile-body"><span>{{saldoCobrado |  currency:"R$"}}</span></div>
                                <div class="tile-footer"></div>
                            </div>
                      </div>
                    </div> -->
                      </div>
                  </div>
                  <div class="panel panel-yellow" data-widget='{"id" : "wiget3"}'>
                    <div class="panel-heading">
                      <div class="panel-ctrls button-icon"
                        data-actions-container=""
                        data-action-collapse='{"target": ".panel-body"}'>
                      </div>
                      <h2>Valoriza</h2>
                    </div>
                    <div class="panel-editbox" data-widget-controls=""></div>
                    <div class="panel-body">
                      <p>Nós valorizamos a experiência do cliente em nossa plataforma e prezamos pela transparência dos dados e do trabalho realizado. Aproveite!</p>
                    </div>
                  </div>
            </div>
        <div class="col-md-4">
            <div class="row pricing-table">
            <div class="card pt-item">
                <div class="pti-header bgm-cyan">
                    <h2>Relatório <small>| Cobrança</small></h2>
                    <div class="ptih-title">Consulte seus títulos</div>
                </div>

                <div class="pti-body">
                    <div class="ptib-item">
                        Faça uma consulta e veja o andamento dos títulos em nossa aplicação.
                    </div>
                </div>

                <div class="pti-footer">
                    <a  href="http://nectar.facilbrasil.com/" target="_blank" class="bgm-cyan"><i class="ti ti-book"></i></a>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">

            <div class="panel panel-yellow" data-widget='{"id" : "wiget2"}'>
                <div class="panel-heading">
                    <div class="panel-ctrls button-icon"
                    data-actions-container=""
                    data-action-collapse='{"target": ".panel-body"}'>
                    </div>
                    <h2>Acompanhe sua conta</h2>
                </div>
                <div class="panel-editbox" data-widget-controls=""></div>
                <div class="panel-body">

                    <div class="list-group list-group-alternate">
                        <a *ngIf="auth.temPermissao('ROLE_CADASTRAR_TITULO')" [routerLink]="['/cliente/status']" class="list-group-item"><span class="{{ cliente.ativo ? 'badge badge-success' : 'badge badge-danger' }}">{{ cliente.ativo ? 'Ativo' : 'Inativo' }}</span> <i class="ti ti-eye"></i> Status da conta </a>
                        <a *ngIf="auth.temPermissao('ROLE_CADASTRAR_TITULO')" [routerLink]="['/cliente/emails']" class="list-group-item"><i class="ti ti-email"></i>Evolução por email</a>
                     <!--   <a *ngIf="auth.temPermissao('ROLE_CADASTRAR_TITULO')" [routerLink]="['/cliente/video']"  class="list-group-item"><i class="ti ti-video-camera"></i>Assista ao vídeo tutorial </a>-->

                    </div>


                </div>
            </div>


           <div class="panel panel-yellow">
                  <div class="panel-heading">

                  </div>
                  <div class="panel-body">
                      <ul class="mini-timeline">
                        <li class="mini-timeline-facil">
                          <div class="timeline-icon"><i class="ti ti-location-pin"></i></div>
                          <div class="timeline-body">
                            <div class="timeline-content">
                                <b style="font-size: 11px">R. Duque de Caxias, 35/406 Centro, Sete Lagoas, MG</b>
                            </div>
                            <hr style="border-top: 1px solid #d8af04 !important; color: #d8af04 !important;  background-color:#d8af04 !important;">
                          </div>
                        </li>

                        <li class="mini-timeline-facil">
                          <div class="timeline-icon"><i class="ti ti-email"></i></div>
                          <div class="timeline-body">
                            <div class="timeline-content">
                                <b style="font-size: 11px">comercial@facilbrasil.com contato@facilbrasil.com</b>
                            </div>
                            <hr style="border-top: 1px solid #d8af04 !important; color: #d8af04 !important;  background-color:#d8af04 !important;">
                          </div>
                        </li>

                        <li class="mini-timeline-facil">
                          <div class="timeline-icon"><i class="ti ti-headphone"></i></div>
                          <div class="timeline-body">
                            <div class="timeline-content">
                              <h4><b style="font-size: 13px; color: #d8af04 !important;">(31) 2107-1359</b></h4>
                              <h4><b style="font-size: 13px; color: #d8af04 !important;">(31) 98619-9306</b></h4>
                            </div>
                          </div>
                        </li>
                      </ul>
                </div>
              </div>



        </div>
    </div>
  </div>
</div>
