.pt-item {
  max-width: 380px;
  display: inline-block;
}

.pti-header {
  padding: 45px 10px 70px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
}

.pti-header > h2 {
  margin: 0;
  line-height: 100%;
  color: #fff;
  font-weight: 100;
  font-size: 50px;
}

.pti-header > h2 small {
  color: #fff;
  letter-spacing: 0;
  vertical-align: top;
  font-size: 16px;
  font-weight: 100;
}
.pti-header > h2 {
    margin: 0;
    line-height: 100%;
    color: #fff;
    font-weight: 100;
    font-size: 50px;
}

h2, .h2 {
    font-size: 27px;
}
.ptih-title {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 8px 10px 9px;
  text-transform: uppercase;
  margin: 0 -10px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.pti-body {
  padding: 0 23px;
}

.ptib-item {
  padding: 15px 0;
  font-weight: 400;
}

.ptib-item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.pti-footer {
  padding: 10px 20px 30px;
}

.pti-footer > a {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: inline-block;
  line-height: 60px;
  font-size: 30px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}

.pti-footer > a:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}
/*
 * Material Background Colors
 */

 .bgm-white {
  background-color: #ffffff !important;
}

.c-white {
  color: #ffffff !important;
}

.bgm-black {
  background-color: #000000 !important;
}

.c-black {
  color: #000000 !important;
}

.bgm-brown {
  background-color: #795548 !important;
}

.c-brown {
  color: #795548 !important;
}

.bgm-pink {
  background-color: #e91e63 !important;
}

.c-pink {
  color: #e91e63 !important;
}

.bgm-red {
  background-color: #f44336 !important;
}

.c-red {
  color: #f44336 !important;
}

.bgm-blue {
  background-color: #2196f3 !important;
}

.c-blue {
  color: #2196f3 !important;
}

.bgm-purple {
  background-color: #9c27b0 !important;
}

.c-purple {
  color: #9c27b0 !important;
}

.bgm-deeppurple {
  background-color: #673ab7 !important;
}

.c-deeppurple {
  color: #673ab7 !important;
}

.bgm-lightblue {
  background-color: #03a9f4 !important;
}

.c-lightblue {
  color: #03a9f4 !important;
}

.bgm-cyan {
  background-color: #00bcd4 !important;
}

.c-cyan {
  color: #00bcd4 !important;
}

.bgm-teal {
  background-color: #009688 !important;
}

.c-teal {
  color: #009688 !important;
}

.bgm-green {
  background-color: #4caf50 !important;
}

.c-green {
  color: #4caf50 !important;
}

.bgm-lightgreen {
  background-color: #8bc34a !important;
}

.c-lightgreen {
  color: #8bc34a !important;
}

.bgm-lime {
  background-color: #cddc39 !important;
}

.c-lime {
  color: #cddc39 !important;
}

.bgm-yellow {
  background-color: #ffeb3b !important;
}

.c-yellow {
  color: #ffeb3b !important;
}

.bgm-amber {
  background-color: #ffc107 !important;
}

.c-amber {
  color: #ffc107 !important;
}

.bgm-orange {
  background-color: #ff9800 !important;
}

.c-orange {
  color: #ff9800 !important;
}

.bgm-deeporange {
  background-color: #ff5722 !important;
}

.c-deeporange {
  color: #ff5722 !important;
}

.bgm-gray {
  background-color: #9e9e9e !important;
}

.c-gray {
  color: #9e9e9e !important;
}

.bgm-bluegray {
  background-color: #607d8b !important;
}

.c-bluegray {
  color: #607d8b !important;
}

.bgm-indigo {
  background-color: #3f51b5 !important;
}

.c-indigo {
  color: #3f51b5 !important;
}
.card {
  position: relative;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  border-radius: 2px;
}

.card.c-dark .card-header > h2 {
  color: #fff;
}

.card.c-dark .card-header > h2 small {
  color: rgba(255, 255, 255, 0.7);
}

.card > .actions,
.card-header .actions {
  position: absolute;
  right: 20px;
  z-index: 2;
  top: 25px;
}

.card-body.card-padding {
  padding: 30px 33px;
}

.card-body.card-padding-sm {
  padding: 15px;
}

.card-body > .btn-float {
  bottom: 30px;
  right: 30px;
}

.card-header {
  position: relative;
  padding: 30px;
  border-radius: 2px 2px 0 0;
}

.card-header h2 {
  margin: 0;
  line-height: 100%;
  font-size: 17px;
  font-weight: 400;
}

.card-header h2 small {
  display: block;
  margin-top: 10px;
  line-height: 160%;
  font-size: 12px;
  color: #AEAEAE;
}

.card-header.ch-dark h2,
.card-header.ch-dark small {
  color: #fff;
}

.card-header .btn-float {
  right: 25px;
  bottom: -23px;
  z-index: 1;
}

.card-header.ch-img {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.card-header.ch-img h2,
.card-header.ch-img small {
  color: #fff;
  text-shadow: 0 0px 5px rgba(0, 0, 0, 0.25);
}

.card-header + .card-body {
  padding-top: 0;
}
.pricing-table {
  text-align: center!important;
}
