<div class="container" >
   <div class="ui-g-11">
        <div class="ui-g-12">
           <img  class="img-fluid img-thumbnail"  src="assets/img/status.png">
        </div>
        <div class="ui-g-12" >
            <h1 class="text-center"><b><font color="{{ cliente.ativo ? 'green' : 'red' }}">{{ cliente.ativo ? 'Ativo' : 'Inativo' }}</font></b></h1>
         </div>
         <div class="col-md-12">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="ui-g-12 ui-md-12 ui-fluid">
              <h4 class="text-center"><b>É importante sempre verificar o status da sua conta.</b></h4>
              <span class="useremail"><b>Contas que sem cadastro de títulos são inativadas por segurança, caso sua conta esteja
                com o status de  <b style="text-transform: uppercase; color: red">"Inativo"</b> façanos contato no
                número abaixo para reativa-la.
              </b>
              <h4 class="text-center"><b style="color: #d8af04 !important;">(31) 2107-1381</b></h4>
              </span>
            </div>
            </div>
      </div>
   </div>

</div>
