<div class="container">
    <form  autocomplete="off" #mensagemForm="ngForm" (ngSubmit)="salvarMensagem(mensagemForm)">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="row">
        <div class="col-md-7">
                <div id="main-content">
                  <div class="box div-login" style="margin-bottom:0!important; /*display:none;*/">
                    <div class="box-title">
                      <h3>
                        <i class="fa fa-comment-o"></i>
                        <span>Fale Conosco</span>
                      </h3>
                    </div>

                    <div class="box-content-mesage">
                      <div class="col-md-12">

                        <div class="col-lg-12 col-md-12 col-sm-12">
                              <div class="ui-g-12 ui-md-12 ui-fluid">

                                <input pInputText type="text" id="nome" placeholder="NOME" name="nome"   [(ngModel)]="msg.nome" ngModel #nome="ngModel"   maxlength="70" size="70" required minlength="3"  class="form-control show-tooltip">

                                <app-message [control]="nome" error="required"
                                text="Informe um nome"></app-message>

                                <app-message [control]="nome" error="touched"
                                text="Informe uma nome"></app-message>


                                <app-message [control]="nome" error="minlength"
                                  text="Mínimo de {{nome.errors?.minlength?.requiredLength }} caracteres"></app-message>

                              </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="ui-g-12 ui-md-12 ui-fluid">

                              <input pInputText  type="email" placeholder="EMAIL" name="email"  maxlength="50" size="50"  [(ngModel)]="msg.email"  ngModel #email="ngModel" class="form-control show-tooltip" required>

                              <app-message [control]="email" error="required"
                              text="Informe o e-mail"></app-message>
                              <app-message [control]="email" error="email"
                              text="Informe o e-mail válido"></app-message>

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="ui-g-12 ui-md-12 ui-fluid">
                               <input pInputText type="text" id="assunto" placeholder="ASSUNTO" name="assunto"   [(ngModel)]="msg.assunto" ngModel #assunto="ngModel" class="form-control show-tooltip">

                                <app-message [control]="assunto" error="required"
                              text="Informe o assunto"></app-message>

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="ui-g-12 ui-md-12 ui-fluid">

                              <textarea class="form-control show-tooltip" ngModel #mensagem="ngModel"  pInputText cols="40" rows="5" name="mensagem" maxlength="1000" size="1000"  [(ngModel)]="msg.mensagem" placeholder="MENSAGEM" aria-invalid="false" required></textarea>

                              <app-message [control]="mensagem" error="required"
                              text="Informe a mensagem"></app-message>

                            </div>
                        </div>
                        <br>
                      </div>
                      <div class="ui-g-12 text-center" style="margin-top: 10px">

                              <button type="submit" class="btn btn-outline-warning" pButton icon="fa fa-envelope" label="Enviar!" style="border-color:#d8af04!important;  background:#d8af04!important;  border-radius: 19px;" [disabled]="mensagemForm.invalid"></button>

                      </div>
                    </div>
                  </div>
                  <div class="rodape">

                    </div>
                </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" data-widget='{"collapse": "true"}' style="margin: 30px;">
              <div class="panel-heading">
                <div class="panel-ctrls button-icon-bg"
                  data-actions-container=""
                  data-action-collapse='{"target": ".panel-body"}'
                  data-action-colorpicker=''
                  data-action-refresh-demo='{"type": "circular"}'
                  >
                </div>
              </div>
              <div class="panel-body scroll-pane has-scrollbar" style="height: 350px;">
                  <ul class="mini-timeline">
                    <li class="mini-timeline-facil">
                      <div class="timeline-icon"><i class="ti ti-location-pin"></i></div>
                      <div class="timeline-body">
                        <div class="timeline-content">
                            <b>R. Duque de Caxias, 35/406 Centro, Sete Lagoas, MG</b>
                        </div>
                        <hr style="border-top: 1px solid #d8af04 !important; color: #d8af04 !important;  background-color:#d8af04 !important;">
                      </div>
                    </li>

                    <li class="mini-timeline-facil">
                      <div class="timeline-icon"><i class="ti ti-email"></i></div>
                      <div class="timeline-body">
                        <div class="timeline-content">
                            <b>comercial@facilbrasil.com contato@facilbrasil.com</b>
                        </div>
                        <hr style="border-top: 1px solid #d8af04 !important; color: #d8af04 !important;  background-color:#d8af04 !important;">
                      </div>
                    </li>

                    <li class="mini-timeline-facil">
                      <div class="timeline-icon"><i class="ti ti-headphone"></i></div>
                      <div class="timeline-body">
                        <div class="timeline-content">
                          <h4><b style="color: #d8af04 !important;">(31) 2107-1359</b></h4>
                          <h4><b style="color: #d8af04 !important;">(31) 98619-9306</b></h4>
                        </div>
                      </div>
                    </li>
                  </ul>
            </div>
          </div>
        </div>
    </div>
  </form>
</div>
