<div class="container" *ngIf="!sucesso">
  <div style="text-align: right;">
    <span style="inline-size: 5px">Para melhor navegabilidade utilize o Chrome:</span>
    <img src="assets/img/chromeFirefox.png" width="50px">
  </div>
  <form  autocomplete="off" #clienteForm="ngForm" (ngSubmit)="salvar(clienteForm, $event)">
    <ngx-loading [show]="loading" #camposLoading [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <div class="ui-g">
      <div class="ui-g-12">
        <div class="ui-g-12 ui-fluid">
          <h1>Cadastro</h1>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-12  ui-fluid">
          <input pInputText type="text" id="nome" placeholder="NOME" name="nome"   [(ngModel)]="clientes.nome" ngModel #nome="ngModel"   maxlength="70" size="70" required minlength="3" class="textoCad">
         <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
          <app-message [control]="nome" error="required"
          text="Informe um nome"></app-message>

          <app-message [control]="nome" error="touched"
          text="Informe uma nome"></app-message>


          <app-message [control]="nome" error="minlength"
            text="Mínimo de {{nome.errors?.minlength?.requiredLength }} caracteres"></app-message>

        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-12  ui-fluid">
        <input pInputText  type="email" placeholder="EMAIL" name="email"  maxlength="50" size="50"  [(ngModel)]="clientes.email"  ngModel #email="ngModel" class="textoCad" required>
        <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
        <app-message [control]="email" error="required"
          text="Informe o e-mail"></app-message>
          <app-message [control]="email" error="email"
          text="Informe o e-mail válido"></app-message>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-12 ui-md-6 ui-fluid">
          <input pInputText type="text" placeholder="RAZÃO SOCIAL"   maxlength="100" size="100"  name="razSocial"  [(ngModel)]="clientes.rzoSocial" ngModel #razSocial="ngModel" class="textoCad" required>
          <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
          <app-message [control]="razSocial" error="required"
          text="Informe a Razão Social"></app-message>
        </div>
        <div class="ui-g-12 ui-md-3  ui-fluid">
          <input pInputText  type="text" [dropSpecialCharacters]="false" mask="99.999.999/9999-99" placeholder="CNPJ" name="cnpj"  [(ngModel)]="clientes.cnpj"  ngModel #cnpj="ngModel"  class="textoCad" required>
          <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
          <app-message [control]="cnpj" error="required"
          text="Informe o cnpj"></app-message>

          <app-cnpj [control]="cnpj" error="required"
          text="cnpj não é válido"></app-cnpj>
        </div>
        <div class="ui-g-12 ui-md-3  ui-fluid">
          <input pInputText type="text" placeholder="INSC. ESTADUAL" maxlength="20" size="20" name="inscEstadual" [(ngModel)]="clientes.inscEstadual"   ngModel #inscEstadual="ngModel"  class="textoCad" required>
          <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
          <app-message [control]="inscEstadual" error="required"
          text="Informe a inscrição estadual"></app-message>
        </div>
      </div>
      <div class="ui-g-12">
          <div class="ui-g-12 ui-md-6  ui-fluid">
            <input pInputText type="text" placeholder="ENDEREÇO"  maxlength="50" size="50" name="endereco" [(ngModel)]="clientes.endereco.endereco" ngModel #endereco="ngModel"  class="textoCad" required>
            <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
            <app-message [control]="endereco" error="required"
            text="Informe o endereço"></app-message>
          </div>
          <div class="ui-g-12 ui-md-3  ui-fluid">
            <input pInputText type="number"  pattern="[0-9]+$" placeholder="NÚMERO"  name="numero"  [(ngModel)]="clientes.endereco.numero"  ngModel #numero="ngModel"  class="textoCad" required>
            <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
            <app-message [control]="numero" error="required"
            text="Informe o número"></app-message>
          </div>
          <div class="ui-g-12 ui-md-3  ui-fluid">
            <input pInputText type="text" placeholder="BAIRRO"   maxlength="50" size="50"  name="bairro"   [(ngModel)]="clientes.endereco.bairro"  ngModel #bairro="ngModel" class="textoCad" required>
            <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
            <app-message [control]="bairro" error="required"
            text="Informe o bairro"></app-message>
          </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-6 ui-fluid">
              <input pInputText type="text" placeholder="CIDADE" maxlength="50"  size="50"  name="cidade"   [(ngModel)]="clientes.endereco.cidade"  ngModel #cidade="ngModel" class="textoCad" required>
              <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
              <app-message [control]="cidade" error="required"
              text="Informe a cidade"></app-message>
            </div>
            <div class="ui-g-12 ui-md-3  ui-fluid">
                <div class="myOverride">
                  <p-dropdown  name="estados" [options]="estados" optionLabel="nome"
                  placeholder="ESTADOS" [autoWidth]="false"
                  [(ngModel)]="clientes.endereco.estado"
                  required ></p-dropdown>
                </div>
                <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
            </div>
            <div class="ui-g-12 ui-md-3  ui-fluid">
              <input pInputText type="text" placeholder="CEP" [dropSpecialCharacters]="false" mask="99999-999" name="cep" [(ngModel)]="clientes.endereco.cep" ngModel #cep="ngModel" class="textoCad" required>
              <p style="color:red; font-size: 10px;" >O campo é obrigatório.</p>
              <app-message [control]="cep" error="required"
              text="Informe o cep"></app-message>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-6 ui-fluid">
              <input pInputText type="text" placeholder="TELEFONE" [dropSpecialCharacters]="false" maxlength="20" mask="(99)9*" name="telefone"  [(ngModel)]="clientes.telefone" ngModel #telefone="ngModel" class="textoCad" required>
              <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
              <app-message [control]="telefone" error="required"
              text="Informe o telefone"></app-message>

            </div>
            <div class="ui-g-12 ui-md-6  ui-fluid">
              <input pInputText type="text" mask="(99)9*" [dropSpecialCharacters]="false" placeholder="WHATSAPP" maxlength="20"  name="whatsapp" [(ngModel)]="clientes.whatsapp" ngModel #whatsapp="ngModel" class="textoCad"  required>
              <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
              <app-message [control]="whatsapp" error="required"
              text="Informe o whatsapp"></app-message>
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-6 ui-fluid">
              <input pInputText type="text"  placeholder="SETOR DE ATIVIDADES" maxlength="500"  size="500"   name="setAtiv"  [(ngModel)]="clientes.strAtividade" ngModel #setAtiv="ngModel" class="textoCad" required>
              <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
              <app-message [control]="setAtiv" error="required"
              text="Informe o setor de atividades"></app-message>
            </div>
            <div class="ui-g-12 ui-md-6 ui-fluid">
              <input pInputText type="text" placeholder="PRÍNCIPAIS CONCORRENTES" maxlength="500"  size="500"  name="princConc" [(ngModel)]="clientes.princConcorrentes" class="textoCad">
           </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-6 ui-fluid">
              <input pInputText type="text"  placeholder="ÍNDICE DE INADIMPLÊNCIA" maxlength="500"  size="500"   name="indInad"  [(ngModel)]="clientes.indInadimplencia"  ngModel #indInad="ngModel" class="textoCad">

            </div>
            <div class="ui-g-12 ui-md-6  ui-fluid">
              <input pInputText type="text" placeholder="EMPRESAS DO GRUPO" maxlength="500"  size="500"   name="empGroup"   [(ngModel)]="clientes.empGroup"  ngModel #empGroup="ngModel" class="textoCad" >

            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-12 ui-md-6 ui-fluid">
              <input pInputText type="text"  placeholder="CONTATOS QUE RESPONDAM PELA COBRANÇA" maxlength="500"  size="500"  name="cotCob"  [(ngModel)]="clientes.contCobranca"  ngModel #cotCob="ngModel"class="textoCad">
            </div>
            <div class="ui-g-12 ui-md-6 ui-fluid">
              <input pInputText type="text" placeholder="CARGO" maxlength="500"  size="100"    name="cargo" [(ngModel)]="clientes.cargo"  ngModel #cargo="ngModel" class="textoCad" >
            </div>
        </div>

        <div class="ui-g-12">
            <div class="ui-g-12 ui-fluid">
              <h1>Representante Legal</h1>
            </div>
        </div>
          <div class="ui-g-12">
            <div class="ui-g-12  ui-fluid">
                <p>
                <label style="font-size: 12px;"><i>Pessoa responsável que assina pela empresa (conforme contrato social ou registro comercial).</i></label>
                </p>
                <input pInputText name="repNome" type="text" maxlength="100"  size="100"   [(ngModel)]="clientes.repNome"  placeholder="NOME" class="textoCad">
            </div>
          </div>
          <div class="ui-g-12">
              <div class="ui-g-12  ui-fluid">
                <input pInputText  type="number" name="repCpf"  maxlength="100"  size="100"  pattern="[0-9]+$" [(ngModel)]="clientes.repCpf"   placeholder="CPF" class="textoCad">
              </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-12  ui-fluid">
              <input pInputText type="text" name="repEmail"  maxlength="100" size="100"  placeholder="EMAIL"  [(ngModel)]="clientes.repEmail" class="textoCad">
            </div>
          </div>

          <div class="ui-g-12">
              <div class="ui-g-12 ui-fluid">
                <h1>Dados Bancários</h1>
              </div>
          </div>

              <div class="ui-g-12">
              <div class="ui-g-12  ui-fluid">
                  <p>
                      <label style="font-size: 12px;"><i>Dados necessários para repasse dos valores recebidos pela Fácil Brasil.</i></label>
                  </p>
                  <div class="myOverride">
                  <p-dropdown  name="bancos" [options]="bancos" optionLabel="banco"
                  placeholder="SELECIONE SEU BANCO" [autoWidth]="false"
                  [(ngModel)]="clientes.banco" ngModel #banco="ngModel" required ></p-dropdown>
                  </div>
                  <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
                  <app-message [control]="banco" error="required" text="Informe o banco"></app-message>
              </div>
            </div>
              <div class="ui-g-12">
                  <div class="ui-g-12 ui-md-6  ui-fluid">
                    <input pInputText type="text" placeholder="AGÊNCIA"  maxlength="30" size="30"  class="textoCad"  name="agencia" [(ngModel)]="clientes.agencia" ngModel #agencia="ngModel" required>
                    <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
                    <app-message [control]="agencia" error="required"
                    text="Informe a agência"></app-message>
                  </div>
                  <div class="ui-g-12 ui-md-3 ui-fluid">
                    <input pInputText type="text"  placeholder="C/C" maxlength="30" size="30" class="textoCad" name="cc" [(ngModel)]="clientes.contaCorrente" ngModel #cc="ngModel" required>
                    <p style="color:red; font-size: 10px;">O campo é obrigatório.</p>
                    <app-message [control]="cc" error="required"
                    text="Informe a conta corrente"></app-message>
                  </div>
                  <div class="ui-g-12 ui-md-3  ui-fluid">
                    <input pInputText type="text" placeholder="OPERAÇÃO" maxlength="30" size="30" name="operacao" [(ngModel)]="clientes.operacao" class="textoCad">
                  </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-12  ui-fluid">
                        <textarea  pInputText cols="40" rows="5" name="observacoes" maxlength="1000" size="1000"  [(ngModel)]="clientes.observacoes" placeholder="OBSERVAÇÃO" style="text-transform: uppercase;" aria-invalid="false"></textarea>
                    </div>
                </div>
                <div class="ui-g-12">
                    <div class="ui-g-12  ui-fluid">
                        <input pInputText type="text" #campoConfirmar value="CONCLUIR CADASTRO" (click)="showDialogToAceppt($event)" style="cursor: pointer; text-align: center;  color: #FFF!important; border: 1px solid #d8af04!important; background:#d8af04!important; height: 50px; font-size: 15px;" [disabled]="clienteForm.invalid">
                    </div>
                </div>
                <div class="ui-g-12">
                      <div class="ui-g-12  ui-fluid info" *ngIf="info">Um ou mais campos possuem um erro. Verifique e tente novamente.</div>
                </div>


    </div>

    <p-dialog header="" [closable]="false" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="924">

            <app-clientes-contrato [clientes]="clientes"></app-clientes-contrato>

        <p-footer>
            <div class="ui-g" style="margin-bottom:10px">
                <div class="ui-fluid">
                    <p-checkbox  (onChange)="checked = !checked" label="Li e concordo com as clausulas do termo de adesão" binary="true" name="checked"></p-checkbox>
                </div>
           </div>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                      <button type="submit" pButton icon="fa fa-check" label="Eu aceito" style="border: 1px solid #d8af04!important; background:#d8af04!important;" [disabled]="!checked"></button>
                      <button type="text" pButton icon="fa fa-check" label="Não aceito" (click)="showDialogToReject($event)" style="border: 1px solid #d8af04!important; background:#d8af04!important;"></button>
                      <a pButton icon="fa fa-file-pdf-o" label="Imprimir Contrato" pTooltip="Imprimir Contrato" (click)="imprimirContrato(clientes)" tooltipPosition="top" style="border: 1px solid #d8af04!important; background:#d8af04!important;"></a>

              </div>
        </p-footer>
    </p-dialog>
  </form>

  <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <span>Todos os direitos reservados a FácilBrasil</span>
          </div>
        </div>
      </div>
    </footer>
</div>
<div class="container" *ngIf="sucesso">
    <app-clientes-sucesso></app-clientes-sucesso>
</div>

