<div class="container" >
  <form  autocomplete="off" #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)">
      <div class="ui-g">
          <div class="ui-g-11">
            <h1>Editar Cliente</h1>
          </div>
          <div class="ui-g-12 ui-md-4 ui-fluid">
              <label>NOME <font color="red">*</font></label>
              <input pInputText type="text" id="nome" name="nome" [(ngModel)]="cliente.nome" ngModel #nome="ngModel"   maxlength="70" size="70" required minlength="3">
              <app-message [control]="nome" error="required"
              text="Informe um nome"></app-message>
              <app-message [control]="nome" error="touched"
              text="Informe uma nome"></app-message>
              <app-message [control]="nome" error="minlength"
                text="Mínimo de {{nome.errors?.minlength?.requiredLength }} caracteres"></app-message>

          </div>
          <div class="ui-g-12 ui-md-4 ui-fluid">
              <label>EMAIL <font color="red">*</font></label>
              <input pInputText  type="email" placeholder="EMAIL" name="email"  maxlength="50" size="50"  [(ngModel)]="cliente.email"  ngModel #email="ngModel" required>
              <app-message [control]="email" error="required"
                text="Informe o e-mail"></app-message>
                <app-message [control]="email" error="email"
                text="Informe o e-mail válido"></app-message>
          </div>
          <div class="ui-g-12 ui-md-4 ui-fluid">
              <label>RAZÃO SOCIAL <font color="red">*</font></label>
              <input pInputText type="text" placeholder="RAZÃO SOCIAL"   maxlength="100" size="100"  name="razSocial"  [(ngModel)]="cliente.rzoSocial" ngModel #razSocial="ngModel"  required>
              <app-message [control]="razSocial" error="required"
              text="Informe a Razão Social"></app-message>
          </div>
          <div class="ui-g-12 ui-md-2 ui-fluid">
              <label>CNPJ <font color="red">*</font></label>
              <input pInputText  type="text" [dropSpecialCharacters]="false" mask="99.999.999/9999-99" placeholder="CNPJ" name="cnpj"  [(ngModel)]="cliente.cnpj"  ngModel #cnpj="ngModel" required>
              <app-message [control]="cnpj" error="required"
              text="Informe o cnpj"></app-message>
              <app-cnpj [control]="cnpj" error="required"
              text="cnpj não é válido"></app-cnpj>
          </div>
          <div class="ui-g-12 ui-md-2 ui-fluid">
              <label>INSCRIÇÃO ESTADUAL <font color="red">*</font></label>
              <input pInputText type="text" placeholder="INSC. ESTADUAL" maxlength="20" size="20" name="inscEstadual" [(ngModel)]="cliente.inscEstadual"   ngModel #inscEstadual="ngModel" required>
              <app-message [control]="inscEstadual" error="required"
              text="Informe a inscrição estadual"></app-message>
          </div>
          <div class="ui-g-12 ui-md-4  ui-fluid">
              <label>ENDEREÇO <font color="red">*</font></label>
              <input pInputText type="text" placeholder="ENDEREÇO"  maxlength="50" size="50" name="endereco" [(ngModel)]="cliente.endereco.endereco" ngModel #endereco="ngModel" required>
              <app-message [control]="endereco" error="required"
               text="Informe o endereço"></app-message>
          </div>
          <div class="ui-g-12 ui-md-1 ui-fluid">
              <label>Número <font color="red">*</font></label>
              <input pInputText type="number"  pattern="[0-9]+$" placeholder="NÚMERO"  name="numero"  [(ngModel)]="cliente.endereco.numero"  ngModel #numero="ngModel" required>
              <app-message [control]="numero" error="required"
              text="Informe o número"></app-message>
          </div>
          <div class="ui-g-12 ui-md-3 ui-fluid">
              <label>BAIRRO <font color="red">*</font></label>
              <input pInputText type="text" placeholder="BAIRRO" maxlength="50" size="50"  name="bairro"   [(ngModel)]="cliente.endereco.bairro"  ngModel #bairro="ngModel" required>
              <app-message [control]="bairro" error="required"
              text="Informe o bairro"></app-message>
          </div>
          <div class="ui-g-12 ui-md-4  ui-fluid">
                <label>CIDADE <font color="red">*</font></label>
                <input pInputText type="text" placeholder="CIDADE" maxlength="50"  size="50"  name="cidade"   [(ngModel)]="cliente.endereco.cidade"  ngModel #cidade="ngModel" required>
                <app-message [control]="cidade" error="required"
              text="Informe a cidade"></app-message>
          </div>
               <div class="ui-g-12 ui-md-1  ui-fluid">
                  <label>CEP <font color="red">*</font></label>
                  <input pInputText type="text" placeholder="CEP" [dropSpecialCharacters]="false" mask="99999-999" name="cep" [(ngModel)]="cliente.endereco.cep" ngModel #cep="ngModel" required>
                  <app-message [control]="cep" error="required"
                  text="Informe o cep"></app-message>
               </div>
              <div class="ui-g-12 ui-md-3  ui-fluid">
                  <label>ESTADO</label>
                  <input pInputText type="text" name="estado"  [(ngModel)]="cliente.endereco.estado.nome" disabled>
               </div>
              <div class="ui-g-12 ui-md-4  ui-fluid">
              <label>TELEFONE <font color="red">*</font></label>
               <input pInputText type="text" placeholder="TELEFONE" [dropSpecialCharacters]="false" mask="(99)9*" name="telefone"  [(ngModel)]="cliente.telefone" ngModel #telefone="ngModel" required>
               <app-message [control]="telefone" error="required"
               text="Informe o telefone"></app-message>
              </div>
              <div class="ui-g-12 ui-md-4  ui-fluid">
                  <label>WHATSAPP <font color="red">*</font></label>
                  <input pInputText type="text" mask="(99)9*" [dropSpecialCharacters]="false"  name="whatsapp" [(ngModel)]="cliente.whatsapp" ngModel #whatsapp="ngModel" required>
                  <app-message [control]="whatsapp" error="required"
                  text="Informe o whatsapp"></app-message>
             </div>
             <div class="ui-g-12 ui-md-4  ui-fluid">
                <label>SETOR DE ATIVIDADES <font color="red">*</font></label>
                <input pInputText type="text"  maxlength="500"  size="500"   name="setAtiv"  [(ngModel)]="cliente.strAtividade" ngModel #setAtiv="ngModel" required>
                <app-message [control]="setAtiv" error="required"
                text="Informe o setor de atividades"></app-message>
             </div>
             <div class="ui-g-12 ui-md-4  ui-fluid">
                <label>PRÍNCIPAIS CONCORRENTES</label>
                <input pInputText type="text" maxlength="500"  size="500"  name="princConc" [(ngModel)]="cliente.princConcorrentes" >
             </div>
             <div class="ui-g-12 ui-md-4  ui-fluid">
              <label>CONTATOS QUE RESPONDAM PELA COBRANÇA</label>
             <input pInputText type="text" maxlength="500"  size="500"  name="cotCob"  [(ngModel)]="cliente.contCobranca"  ngModel #cotCob="ngModel">
             </div>
             <div class="ui-g-12 ui-md-4  ui-fluid">
                <label>CARGO</label>
                <input pInputText type="text" maxlength="500"  size="100"    name="cargo" [(ngModel)]="cliente.cargo"  ngModel #cargo="ngModel" >
            </div>
            <div class="ui-g-12  ui-fluid">
                    <label>OBSERVAÇÃO</label>
                    <textarea  pInputText cols="40" rows="5" name="observacoes" maxlength="1000" size="1000"  [(ngModel)]="cliente.observacoes" style="text-transform: uppercase;" aria-invalid="false"></textarea>
            </div>
              <div class="ui-g-12">
                  <h3>Representante Legal</h3><h5><i>Pessoa responsável que assina pela empresa</i></h5>
                  <div class="ui-g-12 ui-md-4  ui-fluid">
                    <label>NOME</label>
                    <input pInputText name="repNome" type="text" maxlength="100"  size="100"   [(ngModel)]="cliente.repNome"  placeholder="NOME">
                </div>
                <div class="ui-g-12 ui-md-4  ui-fluid">
                    <label>CPF</label>
                    <input pInputText  type="number" name="repCpf"  maxlength="100"  size="100"  pattern="[0-9]+$" [(ngModel)]="cliente.repCpf">
                </div>
                <div class="ui-g-12 ui-md-4  ui-fluid">
                    <label>EMAIL</label>
                    <input pInputText type="text" name="repEmail"  maxlength="100" size="100"  [(ngModel)]="cliente.repEmail" >
                </div>
              </div>
               <div class="ui-g-12">
                <p-panel>
                    <div class="ui-g">
                        <div class="ui-g-12 col-acoes" id="buttonbar">

                          <input pButton type="text" value="SALVAR CLIENTE" label="SALVAR CLIENTE" icon="fa fa-plus"
                          style="text-align: center; float: right;  color: #FFF!important; border: 1px solid #d8af04!important; background:#d8af04!important; font-size: 15px; margin: 2px;height: 30px;"  (click)="showDialogToAceppt()"  #salvaUser>

                            <a pButton type="text" label="NOVO USUARIO" icon="fa fa-plus"
                            style="border: 1px solid #d8af04!important; background:#d8af04!important;" (click)="prepararNovoUsuario()"></a>

                          </div>
                        <div class="ui-g-12">
                            <p-table [value]="cliente.usuario" [resizableColumns]="true"
                            [responsive]="true"  [scrollable]="true">
                              <ng-template pTemplate="caption">
                                  Cadastro de usúarios do cliente
                              </ng-template>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <td class="col-acoes2">AÇÕES</td>
                                        <td class="col-geral-header">USUÁRIO</td>
                                        <td class="col-geral-header">SENHA</td>
                                        <td class="col-geral-header">EMAIL</td>
                                    </tr>
                                  </ng-template>
                                  <ng-template  pTemplate="body" let-usuario let-rowIndex="rowIndex">
                                    <tr>
                                      <td id="buttonbar"  class="col-acoes2">
                                          <a pButton icon="fa fa-trash"
                                          pTooltip="Excluir" tooltipPosition="top" (click)="removerUsuario(rowIndex)" style="border: 1px solid #d8af04!important; background:#d8af04!important;"></a>

                                          <a pButton icon="fa fa-pencil"
                                          pTooltip="Editar" tooltipPosition="top"  (click)="prepararEdicaoUsuario(usuario, rowIndex)" style="border: 1px solid #d8af04!important; background:#d8af04!important;"></a>

                                      </td>
                                      <td class="col-geral-header">{{ usuario.usuario | uppercase  }}</td>
                                      <td class="col-geral-header">{{ usuario.senha }}</td>
                                      <td class="col-geral-header">{{ usuario.email | uppercase  }}</td>
                                    </tr>

                                  </ng-template>
                                  <ng-template pTemplate="emptymessage">
                                      <tr>
                                        <td colspan="6">
                                          Nenhum usuario encontrado
                                        </td>
                                      </tr>
                                    </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-panel>
            </div>
       </div>
       <p-dialog  [(visible)]="displayDialog" [closable]="false" icon="fa fa-question-circle" #confirmacao>
          <p-header>
              Confirmar
          </p-header>
            Você realmente deseja salvar cliente, usuário e senha?
        <p-footer>
          <button pButton type="submit" pButton icon="fa fa-check" label="Sim"  style="border: 1px solid #d8af04!important; background:#d8af04!important;"></button>
          <a type="text" (click)="showDialogToReject()" pButton icon="fa fa-times" label="Não"  style="border: 1px solid #d8af04!important; background:#d8af04!important;" ></a>
        </p-footer>
      </p-dialog>
   </form>
   <p-dialog header="NOVO USÚARIO" [(visible)]="exbindoFormularioUsuario" resizable="false" responsive="true"
   modal="modal" [width]="300">
   <form  autocomplete="off" #frmUsuario="ngForm" (ngSubmit)="confirmarUsuario(frmUsuario)">
    <div class="ui-g-12 ui-md-12 ui-fluid">
      <label>USUÁRIO</label>
        <input pInputText type="text" name="usuario" maxlength="100" size="100"
          required [(ngModel)]="usuario.usuario" #usuarioUsuario="ngModel"/>
        <app-message [control]="usuarioUsuario" error="required" text="Informe o usuario"></app-message>
      </div>
      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>SENHA</label>
        <input pInputText type="text" name="senha" maxlength="100" size="100"
          required [(ngModel)]="usuario.senha" #usuarioSenha="ngModel"/>
        <app-message [control]="usuarioSenha" error="required" text="Informe a senha"></app-message>
      </div>
      <div class="ui-g-12">
          <button pButton type="submit" label="Confirmar" style="border: 1px solid #d8af04!important; background:#d8af04!important;" [disabled]="frmUsuario.invalid"></button>
      </div>
   </form>
  </p-dialog>
</div>
