<div class="container" >
    <form  autocomplete="off" #userSistemaForm="ngForm" (ngSubmit)="salvar(userSistemaForm)">
        <div class="ui-g">
            <div class="ui-g-11">
              <h1>Cadastro de Usuários Fácil Brasil</h1>
            </div>
            <div class="ui-g-11">
                <p-panel header="USUÁRIOS">
                    <div class="ui-g">
                        <div class="ui-g-11 col-acoes" id="buttonbar">

                            <a pButton type="text" label="NOVO USUARIO" icon="fa fa-plus"
                            style="border: 1px solid #d8af04!important; background:#d8af04!important;" (click)="prepararNovoUsuario()"></a>
                        </div>
                        <div class="ui-g-11">
                            <p-table [value]="usuario" [resizableColumns]="true"
                            [responsive]="true"  [scrollable]="true"  #tabela>
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <td class="col-acoes2">AÇÕES</td>
                                        <td class="col-geral-header">USUÁRIO</td>
                                        <td class="col-geral-header">SENHA</td>
                                        <td class="col-geral-header">EMAIL</td>
                                    </tr>
                                  </ng-template>
                                  <ng-template  pTemplate="body" let-usuario let-rowIndex="rowIndex">
                                    <tr>
                                      <td id="buttonbar"  class="col-acoes2">
                                          <a pButton icon="fa fa-trash"
                                          pTooltip="Excluir" tooltipPosition="top" (click)="removerUsuario(usuario)" style="border: 1px solid #d8af04!important; background:#d8af04!important;"></a>

                                          <a pButton icon="fa fa-pencil"
                                          pTooltip="Editar" tooltipPosition="top"  (click)="prepararEdicaoUsuario(usuario, rowIndex)" style="border: 1px solid #d8af04!important; background:#d8af04!important;"></a>

                                      </td>
                                      <td class="col-geral-header">{{ usuario.usuario }}</td>
                                      <td class="col-geral-header">{{ usuario.senha }}</td>
                                      <td class="col-geral-header">{{ usuario.email }}</td>
                                    </tr>

                                  </ng-template>
                                  <ng-template pTemplate="emptymessage">
                                      <tr>
                                        <td colspan="6">
                                          Nenhum usuario encontrado
                                        </td>
                                      </tr>
                                    </ng-template>
                            </p-table>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>
    </form>
    <p-dialog header="NOVO USÚARIO" [(visible)]="exbindoFormularioUsuario" resizable="false" responsive="true"
    modal="modal" [width]="300">
    <form  autocomplete="off" #frmUser="ngForm" (ngSubmit)="salvar(frmUser)">
     <div class="ui-g-12 ui-md-12 ui-fluid">
       <label>USUÁRIO</label>
         <input pInputText type="text" name="usuario" maxlength="100" size="100"
           required [(ngModel)]="usuarioSelecionado.usuario" #usuarioUsuario="ngModel"/>
         <app-message [control]="usuarioUsuario" error="required" text="Informe o usuario"></app-message>
       </div>
       <div class="ui-g-12 ui-md-12 ui-fluid">
         <label>SENHA</label>
         <input pInputText type="text" name="senha" maxlength="100" size="100"
           required [(ngModel)]="usuarioSelecionado.senha" #usuarioSenha="ngModel"/>
         <app-message [control]="usuarioSenha" error="required" text="Informe a senha"></app-message>
       </div>
       <div class="ui-g-12  ui-md-12   ui-fluid">
          <label>EMAIL</label>
          <input pInputText  type="email" name="email" maxlength="50" size="50" [(ngModel)]="usuarioSelecionado.email"  ngModel #usuarioEmail="ngModel"  required email>
          <app-message [control]="usuarioEmail" error="email" text="Informe um e-mail válido"></app-message>
        </div>
       <div class="ui-g-12">
           <button pButton type="submit" label="Confirmar" style="border: 1px solid #d8af04!important; background:#d8af04!important;" [disabled]="frmUser.invalid"></button>
       </div>
    </form>
   </p-dialog>



</div>
