/* You can add global styles to this file, and also import other style files */
body{
  color: #797979;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.myOverride .ui-dropdown label.ui-dropdown-label {
  cursor: pointer;
  height: 37px;
  margin-top: 10px;
}

.textoCad{
  height: 50px;
  font-size: 15px;
}

.info{
  border: 2px solid #d8af04;
  border-style: dashed;
  font-size: 10px;
}

.info2{
  border: 2px solid #d8af04;
  border-style: dashed;
  font-size: 14px;
}

.sidebar-facilbrasil .sidebar .widget .widget-body .userinfo .username {
  color: #d7daf7;
}

.sidebar .widget .widget-body .userinfo .info3 .username {
  font-size: 13px;
  line-height: 24px;
}

.sidebar .widget .widget-body .userinfo .info3 {
  padding: 10px 0 10px 80px;
}

.info3{
  font-size: 8px;
}

.texto{
  font-size: 12px;
  font-family: "Arial", sans-serif;
  text-align: justify;
}
.recuo { text-indent:40px }

.titulo{
  font-size: 14px;
  font-family: "Arial", sans-serif;
  text-align: center;
  font-weight:bold;
  text-decoration: underline;
}
.sucesso{
  font-family: 'Lemon/Milk';
  display: block;
  text-transform: uppercase;
  color: #d8af04;
  text-align: center;
  font-size: 50px;

}

.ui-button .ui-button-text {
  margin: 2px!important;
}

.ui-inputtext {
color: #797979!important;
}

#footer span {
border-top: 1px solid #dadada;
padding: 30px 0;
display: block;
text-align: center;
color: #a4a4a4;
font-size: 15px;
}

input { text-transform: uppercase; }

label {
font-weight: bold;
margin:2px;
}

.col-xs-12 {
width: 100%;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
float: left;
}

@media (min-width: 1200px) {
.container {
  width: 1170px;
  margin: 0 auto;
}
}

@media screen and (min-width: 768px){
 .thankyou {
    margin: 20px auto;
    display: block;
    width: 460px;
    text-align: center;
    color: #201f1f!important;
  }
}
.thankyou p {
    text-align: center;
    color: #201f1f!important;
}

.col-num {
width: 70px;
text-align: center;
}


.col-valor {
width: 120px;
text-align: right;
}

.col-acoescli {
  width: 150px;
  text-align: center;
  padding: 0 2px;
  }

.col-acoes {
width: 90px;
text-align: center;
padding: 0 2px;
}

.col-acoes2 {
  width: 60px;
  text-align: center;
  padding: 0 2px;
  }

.col-data {
width: 120px;
text-align: center;
}

.col-codigo-header {
width: 60px;
text-align: center;
}

.col-geral1-header {
width: 130px;
text-align: center;
}

.col-geral-header {
width: 200px;
text-align: center;
}

.col-pessoa-header {
width: 100px;
text-align: center;
}

.col-email-header {
width: 250px;
text-align: center;
}

.ui-paginator .ui-paginator-page.ui-state-active {
background: #d8af04!important;
color: #ffffff;
border-color: #d8af04!important
}
#corpo {
position: fixed;
right: 20px;
bottom: 20px;
z-index: 999999;
}

#buttonbar button{
  float: right;
  margin:2px;

  }
  #buttonbar a{
    float: right;
    margin:2px;

  }

#main-content {
  padding: 10px 20px 20px;
  background: #e9f0f9;
}

.rodape {
  font-weight: normal;
}

.rodape {
  margin: 10px!important;
  background: none;
}

.rodape .texto-rodape {
  margin: 0 20px 0 0!important;
  float: left;
}

@media screen and (min-width: 768px){
  .box .box-content{
    padding: 10px;
    background: #fff;
    height: 400px !important;
   }
 }
 @media screen and (min-width: 768px){
 .frameset {
  height: 500px !important;
 }
}

@media screen and (min-width: 768px){
  .box .box-content-mesage{
    padding: 10px;
    background: #fff;
    height: 400px !important;
   }
 }

.frameset {
  height: 750px;
 }

 .box .box-content-mesage {
  padding: 10px;
  background: #fff;
  height: 450px;
}

  .box .box-content {
    padding: 10px;
    background: #fff;
    height: 750px;
  }

.box > .box-title {
  background-color: #b6d1f2;
  text-shadow: 0 1px 0 #aecef4;
}

.box .box-title {
  position: relative;
  padding: 10px;
}

.box .box-title h3 {
  display: inline-block;
  line-height: 20px;
  margin: 0;
  color: #fff;
  white-space: nowrap;
}
.box-title h3 {
  white-space: normal!important;
}

.box .box-title h3 > i {
  margin-right: 10px;
}

.texto-info {
  color: #696969;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
}

iframe2 {
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 750px;
  height: 750px;
}
